:root {
  --clr-primary: #ffffff;
  --clr-secondary: #cdcdcd;
  --clr-text: #222034;
  --clr-bg-purple: #af68ea;
  --clr-bg-blue: #6c63ff;
  --clr-accent: #f37b57;

  /* Fonts */
  --ff-primary: "Poppins", sans-serif;
}

/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-size: 12px;
  height: 100vh;
  background: linear-gradient(var(--clr-bg-blue), var(--clr-bg-purple));
  color: var(--clr-text);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  margin: auto;
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--clr-primary);
  box-shadow: 0.5rem 0.5rem 0.8rem rgba(61, 61, 61, 0.5);
}

.modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #222034d2;
}

.btn {
  margin-top: 1rem;
  width: 75%;
  background-color: var(--clr-bg-blue);
  color: var(--clr-primary);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--ff-primary);
  font-weight: bolder;
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(145, 145, 145, 0.5);
}

.btn:hover {
  background-color: var(--clr-bg-purple);
}

.back-btn {
  width: auto;
  position: absolute;
  top: -1.5rem;
  right: -0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 2rem;
}

/* Settings menu */

.dropdown {
  position: absolute;
  left: 5%;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-btn img {
  width: 1.5rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: var(--clr-bg-blue);
  padding: 1rem;
  min-width: 12rem;
  border-radius: 0 1rem 1rem 1rem;
  color: var(--clr-primary);
  cursor: pointer;
}

.menu-item {
  display: flex;
  padding: 0.3rem 0;
  align-items: center;
}

.menu-item:hover {
  font-weight: bold;
}

.menu-icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

/* Hero */

.img {
  width: 100%;
  margin-top: 2.5rem;
}

.budget {
  padding: 2rem 0;
  text-align: center;
}

.total {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
}

h1 {
  color: var(--clr-bg-blue);
}

.num {
  font-weight: bolder;
  font-size: 1.5rem;
  color: var(--clr-secondary);
}

/* Inputs */

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  border-radius: 2rem 0 2rem 2rem;
}

form {
  width: 75%;
}

select,
option {
  font-family: var(--ff-primary);
  text-align: center;
}

.btn-icon {
  width: 5rem;
  cursor: pointer;
}

.input {
  width: 100%;
  background-color: var(--clr-secondary);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem 0;
  text-align: center;
  color: var(--clr-text);
}

.add-btn {
  width: 6rem;
  margin-bottom: 1rem;
}

/* History / Overview*/

.history-container,
.overview-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50%;
  padding: 2rem;
  text-align: left;
  border-radius: 2rem 0 2rem 2rem;
}

.filter {
  margin: 1rem auto;
  padding: 0.8rem;
  background-color: var(--clr-secondary);
  border-radius: 0.5rem;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0;
}

.filter-box {
  width: 7rem;
  border: none;
  text-align: left;
  padding-left: 0.2rem;
  background-color: var(--clr-secondary);
  font-size: 0.8rem;
  color: var(--clr-bg-blue);
  cursor: pointer;
}

.items-list {
  list-style-type: none;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0.2rem;
  border-bottom: 1px solid var(--clr-secondary);
}

.item-content {
  display: flex;
}

.description {
  padding-right: 1rem;
  text-transform: capitalize;
}

.item-btn {
  width: 1rem;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.item-btn:hover {
  opacity: 0.5;
}

#print {
  width: fit-content;
  margin: 1rem auto 0;
}

.chart-container {
  width: 15rem;
  margin: auto;
  text-align: center;
}

.chart-title {
  margin: 1.2rem 0;
  text-transform: uppercase;
}

/* Currency exchange balance*/

.currency-container {
  padding: 2rem;
  text-align: center;
}

.curr-title {
  display: block;
  color: var(--clr-bg-blue);
  margin: 1rem 0;
}

.curr-box {
  border: 1px solid var(--clr-secondary);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.currency {
  max-width: 100%;
  border: none;
  border-radius: 0.5rem;
  margin: 0.3rem;
  padding: 0.2rem 1rem;
}

#curr-output {
  color: var(--clr-secondary);
}

#curr-btn {
  width: 10rem;
  margin: auto;
}

.curr-option {
  overflow: hidden;
  text-overflow: clip;
}

/* Alert */

.alert-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: var(--clr-primary);
  box-shadow: 0.5rem 0.5rem 0.8rem rgba(61, 61, 61, 0.5);
}

.alert h1 {
  color: var(--clr-accent);
  z-index: 10;
}

.hidden {
  display: none;
}

/* Edition modal */

.old {
  color: var(--clr-secondary);
  font-style: italic;
  text-decoration: line-through;
}

/* Responsive */

@media screen and (min-width: 680px) {
  .container:first-child {
    display: flex;
    margin: auto;
  }

  .img {
    width: 50%;
    margin: 0;
  }

  .dropdown {
    left: 1rem;
  }

  .budget {
    width: 50%;
    min-height: 400px;
  }

  .item {
    grid-template-columns: 60% repeat(2, 1fr);
  }

  .input-container {
    width: 40%;
  }

  .history-container,
  .overview-container {
    width: 60%;
  }

  .chart-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  .chart-title:last-of-type {
    width: 60%;
    margin: 1.2rem auto;
  }

  .chart-content {
    width: 45%;
  }

  .currency-container {
    width: fit-content;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
  }

  .curr-box {
    margin: 1rem;
  }
}

@media screen and (min-width: 960px) {
  .filter {
    display: flex;
    width: fit-content;
  }

  .filter-container {
    padding: 0 0.5rem;
  }

  .filter-container:last-of-type {
    border-left: 1px solid var(--clr-text);
  }

  .filter-box {
    margin-left: 0.5rem;
    text-align: center;
  }
}
