:root {
  --clr-primary: #ffffff;
  --clr-secondary: #cdcdcd;
  --clr-text: #222034;
  --clr-bg-purple: #af68ea;
  --clr-bg-blue: #6c63ff;
  --clr-accent: #f37b57;

  /* Dark mode */
  --clr-dark-primary: #121212;
  --clr-dark-secondary: #272727;
  --clr-dark-text: #ffffff;

  /* Fonts */
  --ff-primary: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-size: 12px;
  height: 100vh;
  background: linear-gradient(var(--clr-bg-blue), var(--clr-bg-purple));
}

/* General styles */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  margin: auto;
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--clr-primary);
  box-shadow: 0.5rem 0.5rem 0.8rem rgba(61, 61, 61, 0.5);
}

.modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #222034d2;
}

.btn {
  margin-top: 1rem;
  width: 75%;
  background-color: var(--clr-bg-blue);
  color: var(--clr-primary);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--ff-primary);
  font-weight: bolder;
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(145, 145, 145, 0.5);
}

.btn:hover {
  background-color: var(--clr-bg-purple);
}

.settings-btn {
  width: 1.5rem;
  position: relative;
  right: -95%;
  transform: translateX(-50%);
  border-radius: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.settings-btn:hover {
  width: 1.6rem;
}

.back-btn {
  width: auto;
  position: absolute;
  top: -1.5rem;
  right: -0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 2rem;
}



/* Hero */

.img {
  width: 100%;
}

.budget {
  padding: 2rem 0;
  text-align: center;
}

.total {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
}

h1 {
  color: var(--clr-bg-blue);
}

.num {
  font-weight: bolder;
  font-size: 1.5rem;
  color: var(--clr-secondary);
}

/* Inputs */

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  border-radius: 2rem 0 2rem 2rem;
}

form {
  width: 75%;
}

select,
option {
  font-family: var(--ff-primary);
  text-align: center;
}

.btn-icon {
  width: 5rem;
  cursor: pointer;
}

.input {
  width: 100%;
  background-color: var(--clr-secondary);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem 0;
  text-align: center;
  color: var(--clr-text);
}


.add-btn {
  width: 6rem;
  margin-bottom: 1rem;
}

/* History */

.history-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50%;
  padding: 2rem;
  text-align: left;
  border-radius: 2rem 0 2rem 2rem;
}

.items-list {
  list-style-type: none;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.item-btn {
  width: 1rem;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.item-btn:hover {
  opacity: 0.5;
}

/* Alert */

.alert-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: var(--clr-primary);
  box-shadow: 0.5rem 0.5rem 0.8rem rgba(61, 61, 61, 0.5);
}

.alert h1 {
  color: var(--clr-accent);
}

.hidden {
  display: none;
}

/* Edit modal */

.old {
  color: var(--clr-secondary);
  font-style: italic;
  text-decoration: line-through;
}

/* Responsive */

@media screen and (min-width: 680px) {
  .container:first-child {
    display: flex;
    margin: auto;
  }

  .img {
    width: 50%;
  }

  .settings-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: translate(0);
  }

  .budget {
    width: 50%;
    padding: 2rem;
  }

  .item {
    grid-template-columns: 60% repeat(2, 1fr);
  }

  .input-container {
    width: 40%;
  }

  .history-container {
    width: 60%;
  }
  
}
